

@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/AngularJs_Controller/User.js"></script>
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div ng-app="mymodule" ng-controller="mycontroller" ng-init="init()">


    <button class="btn btn-outline-primary" ng-if="!isEditable" ng-click="makeEditable()">Edit</button>
    <button class="btn btn-outline-primary" ng-if="isEditable" ng-click="saveEditedData()">Save</button>
    <button class="btn btn-outline-primary" ng-if="isEditable" ng-click="cancleEdit()">Cancle</button>

    <table class="table" ng-init="GetUserList()">
        <tr>
            <th>
                @Html.DisplayName("Name")
            </th>
            <th>
                @Html.DisplayName("Phone")
            </th>
            <th ng-if="isEditable">
                @Html.DisplayName("Division Name")Division
            </th>
            <th>
                @Html.DisplayName("District Name")
            </th>

            <th ng-if="isEditable">
                @Html.DisplayName("Action")
            </th>
        </tr>


        <tr ng-repeat="item in userList">

            <td ng-if="!isEditable">

                {{item.UserName}}
            </td>

            <td ng-if="!isEditable">

                {{item.Phone}}

            </td>
            <td ng-if="!isEditable">

                {{item.DistrictName}}

            </td>

            <td ng-if="!isEditable">

                @*<button class="btn btn-outline btn-outline-danger" ng-click="editData($index)">Revert</button>*@

            </td>

            <td ng-if="isEditable">

                <input type="text" ng-model="item.UserName" class="form-control" ng-change="checkIfChanged($index,'UserName')"/>
            </td>

            <td ng-if="isEditable">

                <input type="text" ng-model="item.Phone" class="form-control" ng-change="checkIfChanged($index,'Phone')" />
            </td>
            <td ng-if="isEditable">

                <select class="form-control dropdown" ng-model="item.DivisionId" ng-change="GetDistrict($index);checkIfChanged($index,'DivisionId');"
                        ng-options="division.DivisionId as division.DivisionName for division in Division">
                    <option value="">--Select--</option>
                </select>
            </td>
            <td ng-if="isEditable">


                <select class="form-control" ng-model="item.DistrictId" @*ng-disabled="!item.DivisionId"*@ ng-change="checkIfChanged($index,'DistrictId')"
                        ng-options="district.DistrictId as district.DistrictName for district in item.DistrictList">
                    <option value="">--Select--</option>
                </select>
            </td>

            <td ng-if="isEditable">

                <button class="btn btn-outline btn-outline-danger" ng-click="revertEdit($index)">Revert</button>
            </td>
        </tr>

    </table>
</div>